.footer {
  background-color: #282828;
  align-items: flex-end;
  width: 100vw;
  text-align: center;
}

.footer-socials {
  display: inline-block;
  margin: 5px 20px;
  color: white;
}

/* for views with width greater than 599px */
@media only screen and (min-width: 600px) {
  .footer {
    position: fixed;
    bottom: 0;
  }
}
