.post-div {
  margin: 20px 0px;
  border: black 2px solid;
  padding: 10px;
  overflow: scroll;
}

.community-blog-container {
  min-height: 90vh;
}

.delete-post {
  color: #58bcea;
  text-align: right;
  margin: 0 5px;
}

.delete-post:hover {
  color: red;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .community-blog-container {
    height: 70vh;
    overflow: scroll;
  }
}
