<div class="container">
  <h1>My blog posts</h1>
  <div class="community-blog-container">
    <div class="post-div" *ngFor="let blog of blogs">
      <h2>{{ blog.blogTitle }}</h2>

      <h6>By: {{ blog.authorName }}</h6>
      <h6>Date: {{ blog.creationDate | date }}</h6>
      <p>
        {{ blog.blogBody }}
      </p>
      <p class="delete-post" (click)="deletePost(blog._id)">Delete Post</p>
    </div>
    <p *ngIf="blogs.length === 0">oops there seems to be nothing here!</p>
  </div>
</div>
