<nav class="navbar navbar-expand sticky-top">
  <a class="navbar-brand"
    ><span class="blue">TXT-</span
    ><span class="brand-blog-color">Blogs</span></a
  >

  <div class="navbar-nav ml-auto">
    <a
      class="nav-item nav-link"
      routerLinkActive="active"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <div *ngIf="auth; else notAuth" class="navbar-nav ml-auto">
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="/dashboard"
        [routerLinkActiveOptions]="{ exact: true }"
        >My Blogs</a
      >
      <a class="nav-item nav-link" (click)="logOut()" routerLink="/login"
        >Log Out</a
      >
    </div>
    <ng-template #notAuth>
      <a
        class="nav-item nav-link"
        routerLink="/login"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Login</a
      >
    </ng-template>
  </div>
</nav>
